apiVersion: v1
kind: Secret
metadata:
  name: limboo-remote-access-service-secrets
  namespace: limboo
type: Opaque
data:
  KEYCLOAK_SECRET:
  KEYCLOAK_CLIENT_ID:
  KEYCLOAK_AUTH_SERVER_URL:
  KEYCLOAK_REALM:
  POSTGRES_HOST:
  POSTGRES_USER:
  POSTGRES_PASSWORD:
  POSTGRES_PORT:
  POSTGRES_DB:
  NATS_HOSTNAME:
  NATS_PORT:
